@tailwind base;
@tailwind components;
@tailwind utilities;

.changsu-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.changsu-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15); /* 살짝 투명한 회색 */
  border-radius: 8px;
}

.changsu-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
